{{ ansible_default_ipv4.address }},{{ ansible_hostname }},{{ ansible_domain }},{{ ansible_product_serial }},{{ ansible_system_vendor }},{{ ansible_kernel }},{{ ansible_os_family }},{{ ansible_distribution }},{{ ansible_distribution_release }},{{ ansible_distribution_version }},{{ ansible_domain }},{{ ansible_processor_count }},{{ ansible_processor_cores }},{% for key in ansible_facts.packages.keys() | sort %}{{ key }}-{{ hostvars[inventory_hostname].ansible_facts.packages[key][0].version }}-{{ hostvars[inventory_hostname].ansible_facts.packages[key][0].release }}{% if not loop.last %}|{% endif %}{% endfor %}
